{
  "log": {
    "level": "info",
    "timestamp": true
  },
  "services": [
    {
      "type": "api",
      "tag": "api-service",
      "listen": "127.0.0.1",
      "listen_port": 9080
    }
  ],
  "experimental": {
    "clash_api": {}
  },
  "inbounds": [
    {
      "type": "ebpf",
      "tag": "ebpf-in",
      "cgroup_enabled": true,
      "cgroup_path": "/sys/fs/cgroup",
      "network": ["tcp", "udp"]
    }
  ],
  "outbounds": [
    {
      "type": "selector",
      "tag": "select",
      "outbounds": ["direct"],
      "default": "direct"
    },
    {
      "type": "direct",
      "tag": "direct"
    },
    {
      "type": "block",
      "tag": "block"
    }
  ],
  "route": {
    "rules": [
      {
        "protocol": "dns",
        "action": "hijack-dns"
      },
      {
        "ip_is_private": true,
        "outbound": "direct"
      },
      {
        "clash_mode": "Google VPN",
        "outbound": "direct"
      },
      {
        "clash_mode": "Global",
        "outbound": "select"
      },
      {
        "clash_mode": "Direct",
        "outbound": "direct"
      }
    ],
    "auto_detect_interface": true
  }
}
